# Data
data/

# Model
*.h5

# ROS build files
catkin_ws/devel
catkin_ws/build
ros2_ws/log
ros2_ws/build
ros2_ws/install

# IntelliJ files
.idea

# Vscode files
.vscode

# Log
*.log

# Temporary files
*.swp
docker/.nv/*
!docker/.nv/.gitkeep

# Byte-compiled
*.pyc
__pycache__/

# Jupyter notebook
.ipynb_checkpoints/